/* AnalyticsComponent.css */

.AnalyticsComponent .Line {
    margin-bottom: 20px !important;
    width: 50% !important;
    height: 300px !important; /* Adjust the height as needed */
}

.MainTableContainer {
    margin-top: 20px !important;
}

.JobTableContainer {
    margin-top: 20px !important;
}

.JobTableHeader {
    font-weight: bold !important;
    font-size: 16px !important;
    margin-bottom: 10px !important;
}

.JobTableHeader::after {
    content: '' !important;
    display: block !important;
    width: 50px !important;
    border-bottom: 2px solid #333 !important;
    margin-top: 5px !important;
}

.thirddiv{
    margin-top: 20px;
}
.thirddiv .heading{
    font-family: monospace;
    font-size: 2rem;
}